/* fonts */
body{
  font-family: 'Ubuntu', sans-serif;
}

/* START common style */
h5,th{
  color: #0b2239;
}
th{
  font-weight: 500;
}
p, td{
  color: #374957;
  font-size: 18px;
  font-weight: 300;
}
span{
  color: #374957;
  font-size: 18px;
  font-weight: 300;
}
/* END common style */

.header-content{
  max-width: 1024px;
  margin: auto;
  padding: 80px 100px 0px;
}
.header-title{
  color: #0b2239;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}
.header-text{
  font-size: 18px;
  color: #374957;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  padding: 5px 40px 30px;
}
#search-field{
  border: none;
  background: #eff3f6;
  padding: 20px 0px 20px 15px;
  color: #7e7e7e;
  font-weight: 300;
  font-size: 16px;
}
#search-field::placeholder{
  font-size: 16px;
  color: #bdbdbe;
}
#search-field:focus{
  outline: 0;
  border: none;
  background: #eff3f6;
  box-shadow: 0 0 0 0 transparent;
}
#search-icon{
  background-color: #4ad295;
  color: #fff;
  font-size: 16px;
  padding: 0px 25px;
  cursor: pointer;
  border-radius: 5px;
}
.error-message-style{
  color: red;
  font-size: 16px;
  font-weight: 300;
  padding-top: 5px;
}

/* STARTS all phones section*/
#all-phones{
  /* margin-top: 50px; */
  margin-bottom: 100px;
}
.details-btn{
  background: #4ad295;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  padding: 0 30px;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  /* box-shadow: inset 0 0 0 2px #cfd9e0; */
}
.details-btn:hover{
  background: #2bc48a;
}

/* START single phone section */
#single-phone{
  padding-top: 55px;
  padding-bottom: 65px;
}