/* fonts */
body{
  font-family: 'Ubuntu', sans-serif;
}
.header-content{
  max-width: 1024px;
  margin: auto;
  padding: 80px 100px 40px;
}
.header-title{
  color: #0b2239;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}
.header-text{
  font-size: 18px;
  color: #374957;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  padding: 5px 40px 30px;
}
#search-field{
  border: none;
  background: #eff3f6;
  padding: 20px 0px 20px 15px;
  color: #7e7e7e;
  font-weight: 300;
  font-size: 16px;
}
#search-field::placeholder{
  font-size: 16px;
  color: #bdbdbe;
}
#search-field:focus{
  outline: 0;
  border: none;
  background: #eff3f6;
  box-shadow: 0 0 0 0 transparent;
}
#search-icon{
  background-color: #4ad295;
  color: #fff;
  font-size: 16px;
  padding: 0px 25px;
  cursor: pointer;
  border-radius: 5px;
}
